<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <% unless @user.image.url == nil %>
  <%= image_tag @user.image.url, class: "profile_show_img" %>
  <% end %>
</p>

<%= link_to "プロフィールを編集する", edit_user_path(@user.id) %>