/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 1.0rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background:url(sky02.jpg) ;
  background-size:cover;
}

.self-container{
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin:0 0 1rem 0;
  padding:0;
}

.partner-container{
  display: flex;
  flex-direction: row;
  margin:0 0 1rem 0;
  padding:0;
}


.latest_message {
  width: auto;
  height:auto;
  margin:0;
  padding:0;
  display: inline-block;
  position: relative;
  margin: 80px;
  padding: 10px;
  background: white;
  border-radius: 20px;
}

.latest_message::after{
  content: "";
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 1.5rem;
  left: -0.8rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid white;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.latest_message p{
  margin:0 0 1rem 0;
}

.past_message {
  width: 400px;
  height:auto;
}

textarea {
  position: absolute;
  border: medium 10px #0000ff;
  width:20rem;
  height:auto;
  resize: vertical;
  border-radius: 0.3em;
  bottom: 0;
  margin-bottom: 1rem;
  font-size: 1.0rem;
}

.input_bottom {
}

.input_text {
}

.input_text form{
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 0 0;
  padding:0;
}

.submit_buttom {
  position: absolute;
  margin-bottom:1.7rem;
  background-color: #f060e9;
  border-style: none;
  border-radius: 5rem;
  color:white;
  width:3rem;
  height:2rem;
  transition-duration: 0.2s;
  margin:0.3rem 0rem 1.3rem 12rem;
  bottom:0;
}

.submit_buttom:hover{
  background-color: #fc98f7;
  color:white;
  transition-duration: 0s;
}