/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 1.0rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background:url(sky02.jpg) ;
  background-size:cover;
  height: 100%;
  margin:0 0 100px 0;
}

a {
  color:white;
  text-decoration: none;
}

div {
  margin: 0;
  padding: 0;
}

.self-container{
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin:0 0 1rem 0;
  padding:0;
  width:400px;
}

.partner-container{
  display: flex;
  flex-direction: row;
  margin:0 0 1rem 0.5rem;
  padding:0;
  width:400px;
}

.partner_span{
  margin: 0 0.3rem 0 0;
  top:0.4rem;
  position: relative;
  width:50px;
  padding:0;
  white-space: nowrap;
}

.latest_box{
  margin:0 0 1rem 0;
  padding:0;
  display: flex;
  flex-direction: row;
  width:100%;
}

.latest_span{
  top:0.4rem;
  position: relative;
  margin: 0 0.3rem 0 0;
  width:50px;
  white-space: nowrap;
}

.latest_message {
  width: auto;
  height:auto;
  margin:0;
  padding:0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  background: white;
  border-radius: 1.5rem;
}

.latest_message::after{
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  left: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid white;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: -1;
}

.latest_message p{
  margin:0;
}

.past_self_message {
  width: auto;
  height:auto;
  margin-top:0;
  padding:0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: -80px;
  margin-left: 120px;
  padding: 10px;
  background: rgb(116, 224, 158);
  border-radius: 1.5rem;
}

.past_self_message::after{
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  right: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 30px solid rgb(116, 224, 158);
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  z-index: -1;
}

.past_partner_message {
  width: auto;
  height:auto;
  margin:0;
  padding:0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  background: white;
  border-radius: 1.5rem;
}

.past_partner_message::after{
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  left: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid white;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: -1;
}

textarea {
  position: absolute;
  border: medium 10px #0969B0;
  width:20rem;
  height:3rem;
  resize: vertical;
  border-radius: 0.3em;
  bottom: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.input_text form{
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 0 0;
  padding:0;
}

.submit_buttom {
  position: absolute;
  margin-bottom:1.7rem;
  background-color: #e055d9;
  border-style: none;
  border-radius: 0.2rem;
  color:white;
  width:3rem;
  height:3rem;
  transition-duration: 0.2s;
  margin:0.3rem 0rem 1.2rem 12.3rem;
  bottom:0;
  font-size:1rem;
}

.submit_buttom:hover{
  background-color: #f186ec;
  color:white;
  transition-duration: 0s;
}

.scroll_down {
  position: absolute;
  margin-bottom:1.7rem;
  background-color: #525a6b;
  border-style: none;
  border-radius: 0.2rem;
  color:white;
  width:3rem;
  height:3rem;
  transition-duration: 0.2s;
  margin:0.3rem 1rem 1.2rem -12.3rem;
  bottom:0;
  font-size:2rem;
}

.scroll_down:hover {
  background-color: #757983;
  transition-duration: 0s;
}

#bottom_block {
  margin:0;
  padding:0;
  height: 80px;
  background-color: #6F9ECC;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.profile_show_img {
  width: 10rem;
}
.profile_message_img {
  width: 3rem;
  border-radius: 3rem;
}

#head_block {
  position:fixed;
  color:white;
  background-color: #273147;
  width:100%;
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0;
  padding:0;
  margin-bottom:1rem;
  z-index: 1;
}

.left_arrow {
  width:2rem;
  padding-top:1.5rem;
}

.head_person {
  width:1rem;
  padding-top:1.5rem;
}

.head_door {
  width:1rem;
}

.delete_message {
  right:2rem;
  position: absolute;
  font-size: 0.2rem;
}

.delete_box {
  height:0.5rem;
  margin:0;
  padding:0;
}

.header_name {

  padding-top:1rem;
}

.header_space {
  height:100px;
}

.header_right {
  margin:-0.2rem 0.5rem 0 0;
  padding:0;
  height:2rem;
}

.all_user:hover{
  font-weight: bold;
}

.message_pics {
  width:2rem;
  padding:0.5rem;
}